<h1>Documents#home</h1>
<p>Find me in app/views/documents/home.html.erb</p>

<%= @somevalue %>

<%= form_tag documents_home_path do %>
  <p>
    <%= label_tag "Term" %>  </br>
    <%= text_field_tag :term %>
  </p>

  <p>
    <%= label_tag "Path" %> </br>
    <%= text_field_tag :path %>
  </p>
 <p> <%= submit_tag "Go Fetch!"%> </p>
<% end %>

<%= @term %>
<%= @path %>